<a href="https://colab.research.google.com/github/harssh15/Generative-ai-projects/blob/main/Another_copy_of_Yet_another_copy_of_Yet_another_copy_of_python_for_generative_Ai_g4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#variable is a container to store information and retrieve it later

In [ ]:
x = 10

In [ ]:
#sting -- data in the from of text
x ="solan"
type(x)

str

In [ ]:
#boolean --it is used to store values to store values in the form of true and flase
a= True
type(a)

bool

In [ ]:
b = False
type(b)

bool

In [ ]:
#none -- it is define null value means nothing
e=None
type(e)

NoneType

In [ ]:
# Data structure - it is fundomentor of any programing launguage around which programing is build
# mutable data structure  1 list 2 dictonany 3 set 4 to change
# immutable data structure 1 string 2 tuple 3 number 4 doesnt change

In [ ]:
# string - it is sequence of character or item
       # -  it is inclosed by single quotes, double qoutes or triple quotes.
      #  - it is immutable data structure .
      #  - it cold be word , sentence , paragraph or entire . cyclopedia

In [ ]:
my_sub ="Machine Learing"
print(my_sub)

Machine Learing

In [ ]:
type(my_sub)

str

In [ ]:
my_collage ='shoolini university'
type(my_collage)

str

In [ ]:
my_sentence =''' this is multiple line
sentence , so this also a string '''
type (my_sentence)

str

In [ ]:
#indexind in string
#location os charcter or items is known as indexing
# *there are two type of indexing
# (1) - positive indexing
# (2) - negative indexing

In [ ]:
my_sub = " machine learing"
len(my_sub)

16

In [ ]:
my_sub[0]

' '

In [ ]:
my_sub[15]

'g'

In [ ]:
my_sub[-1]

'g'

In [ ]:
#slaing - grab the data upto desidnated point .
# my_sub = "machine learning"
# my-sub [SI: EI:SS]
# SI- staring index ,it is include
# EI-endind index , it is exclude
# SS-step size it is represent direction

In [ ]:
my_sub = "Machine learning"
my_sub[0:7:1]

'Machine'

In [ ]:
my_sub[8::1]

'learning'

In [ ]:
my_sub[0:15:2]

'Mcielann'

In [ ]:
#neathod of string
# lower method used to convert string into lower case .
my_sub = "python"
my_sub.lower()

'python'

In [ ]:
#upper case this method used to convert string into upper case.
my_sub = "machine learning"
my_sub.upper()

'MACHINE LEARNING'

In [ ]:
# count method used to count particular character in string
my_sub = "machine learing"
my_sub.count('a')

2

In [ ]:
#what is list   it is collection of item and every item separated by comma , all item enclosed by square bracket.
my_list = [78 ,89 ,34, 56]
type(my_list)

list

In [ ]:
mixed_list = ["apple", 24, 3.14, true,none]
type(mixed_list)

NameError: name 'true' is not defined

In [ ]:
my_list + [78,84,56,34]
my_list[0]

In [ ]:
my_list[-1]

In [ ]:
# slicing to rab the data upto designated point
my_list = [2,7,8,4,5,6]
my_list[0:5:1]
#my_list[SI:EI:SS]
# si -> strting index, it is included
# ei -> ending index , it is ecluded
# ss-> step size

In [ ]:
my_list[0:]

[78, 89, 34, 56]

In [ ]:
my_list[:5]

[78, 89, 34, 56]

In [ ]:
my_list[::-1]

[56, 34, 89, 78]

In [ ]:
my_list[0:5:-1]

[]

In [ ]:
# function in list
# min () -> this function finf minimum number of the list
# my_list = [2,7,8,4,3]
# min (my_list)
# olp -> 2

In [ ]:
# max () this function find maximum number of the list .
# max (my_list)
# olp -> 8

In [ ]:
# sum () -> this function return oddition of the item in the list.
# my_list = [2,7, 8, 4, 3 ]
# sum(my_list)
# olp -> 24
# sorted()-> this

In [ ]:
# sorted() -- this function arrange list in increasing order or decreasing
my_list = [89, 67 , 45, 12, 34]
sorted(my_list, reverse = True)

[89, 67, 45, 34, 12]

In [ ]:
# append ()-- this method add item end of the list , item take as argument
list1 = [9, 8, 7, 4]
list1.append(100)
list1

[9, 8, 7, 4, 100]

In [ ]:
# extent()-- this method merde list into another list
list1 = [9, 8, 7, 4 ]
list2 = [100, 200, 300]
list1.extend(list2)
list1

[9, 8, 7, 4, 100, 200, 300]

In [ ]:
# pop ()-- this method remove item from the list , and take index as a arugment
my_list = [ 90, 87, 56, 34, 100]
my_list.pop(0)

90

In [ ]:
my_list

[87, 56, 34, 100]

In [ ]:
#  reverse() -- method reverse a list
my_list = [90,87, 56, 52]
my_list.reverse()

In [ ]:
# dictonary -> it is collection of key value pair , every key value pair separaed by colon, the combination of key and value is known as item , and every item separated by comma, inclosed by curly braces
my_dict={"name" : "amit", "colllege" : "shoolini university"}
type(my_dict)

dict

In [ ]:
my_dict = { "name" : "amit", "college ": "shoolini"}
print(my_dict["name"])
print(my_dict["college "])

amit
shoolini

In [ ]:
#keys() -- this method find keys of dictionary
list(my_dict.keys() )

['name', 'college ']

In [ ]:
# values () -- this method find the number of values in dictionary
list(my_dict.values())

['amit', 'shoolini']

In [ ]:
#items ()-- this method find items in dictionary
list(my_dict.items())

[('name', 'amit'), ('college ', 'shoolini')]

In [ ]:
# get () -- this method find value and key take as argument
my_dict.get("name")

'amit'

In [ ]:
print(my_dict.get("age", "age is not found"))

age is not found

In [ ]:
#update()-- this method update the dictionary and take dictionary as argument
my_dict.update({"age" :20})
my_dict

{'name': 'amit', 'college ': 'shoolini', 'age': 20}

In [ ]:
my_list

[52, 56, 87, 90]

In [ ]:
my_dict.update({"name": "harsh"})
my_dict

{'name': 'harsh', 'college ': 'shoolini', 'age': 20}

In [ ]:
#zip() -- this function take pair of list as argument and return python object
state_list = ["hp", "up" , "mp"]
city_list = ["shm", " luck", "bophal"]
dict(zip(state_list,city_list))

{'hp': 'shm', 'up': ' luck', 'mp': 'bophal'}

In [ ]:
list(zip(state_list,city_list))

[('hp', 'shm'), ('up', ' luck'), ('mp', 'bophal')]

In [ ]:
#conditional statement
#if-- this execute when condition is true
#elief-- this excute when condition is true
#else-- this excute when if and elif condition false
age= (input("enter your age :"))
if age>60:
   print("your are too old for marry")
elif age<18:
  print("you are too young for marry")
else:
  print("we will find proper match for you")

In [ ]:
#loop -> it help to run block of code repeatly
# for loop -> it work on sequence list,string, tuple range()
#2 -> while loop execute untill condition is trup
my_sub = "python"
print(my_sub(0))
print(my_sub(1))
print(my_sub(2))
print(my_sub(3))
print(my_sub(4))
print(my_sub(5))

In [ ]:
my_sub = "python"
for i in my_sub:
  print(i)

In [ ]:
#range (sp, ep ,ss )
#sp -> starting point , it is included by default it is 0
#ep -> ending point , it is excluded ,
# ss-> step size -> by deafult it is one

In [ ]:
for i in range(0,6,1):
  print(i)

In [ ]:
for i in range(6)
print(i)

In [ ]:
my_list =[90, 78, 65, 45]
for i in my_list:
  print(i)

In [ ]:
#while loop
i = 0 # initialization
while i<5:
  print(i)
  i+=1
  print(i)

In [ ]:
# loops cantrol statements
#  1 state ment ->  break statement -> this state ment break the loop
# 2 state ment   -> continue statement -> skip the current iteration.
#3  sate ment   -> pass statement -> only pass the code

In [ ]:
i=0
while i<5:
  i+=1
  if i == 3:
    break
  else:
    print(i)

In [ ]:
i = 0
while i<5:
  i+=1
  if i == 3:
    continue
    print(i)
  else:
    print(i)

In [ ]:
i==0
while i<5:
  i+=1
  if i == 3:
    pass
    print(i)
else:
   print(i)

In [ ]:
# function -> perform some operation
# builtin function len() print()type() sum() and user defined function [defined by the user]
                                                        # [syntax
                                                          # def function_name(): code.

In [ ]:
#user defined function without argument
def add():
  a = int (input("enter first number:"))
  b = int (input("enter second number"))
  return a+b

In [ ]:
print(add())

In [ ]:
#positional argument
def calculation(a,b):
  print("addition:",a+b)
  print("subtraction:",a-b)
  print("multiplication:",a*b)
  print("division:",a/b)
  return "calcuation complete"

In [ ]:
print(calculation(10,5))

In [ ]:
#default argument
def arrange_(width=4, height=8):
  area = width*height
  perimeter= 2*(width+height)
  return "area of rectangle is", area, " and perimeter of rectangl is", perimeter

In [ ]:
print(arrange_(10))

In [ ]:
#keyword argument
def interest(p,r,t):
    i = (p*r*t)/100
    return i

In [ ]:
print(interest(r=10,t=2,p=1000))

In [ ]:
# variable length argument -> we give any number of argument
#  /\
# non- keyword variable length argument    (2)--> keyword variable length argument.
# [1] it is behave like tuple                  [1]--> it is behave like dictionary.
# [2] represent by star( )                     [2]--> represent by double star.

In [ ]:
# non keyword variable length argument .
def test(*args):
        print(args)
        print(len(args))
        print(type(args))

In [ ]:
test(1,2,3,4,5,6)

In [ ]:
def sum_number(*args):
  sum=0
  for num in args:
          sum+=num
  return sum

In [ ]:
sum_number  (1, 2, 3 ,4 ,5)

In [ ]:
#keyword variable length argument
def test(**kwargs):
  print(kwargs)
  print(type(kwargs))

In [ ]:
test (a=10,b=20 , c=239)

In [ ]:
# numpy-> numerical python
# .. it is used for mathematics
#  .. data structure of numy is multidimensinal array..
# .we can import it like this -(np is alias(nickname))
*import

In [ ]:
import numpy as np

In [ ]:
# one dimensional array
oned_array = np.array([1,2,3])
print(oned_array)

In [ ]:
# two dimensional array
two_array = np.array([[1,2,3],[4,5,6]])
print(two_array)

In [ ]:
row_vector =np.array([[1,2,3]])
print(row_vector)

In [ ]:
print(row_vector.transpose())

In [ ]:
#ndim-- find the dimension
print(row_vector.ndim)

In [ ]:
#size ---find the number of item
print(row_vector.size)

In [ ]:
print(two_array)

In [ ]:
#shape-- find number of row and column in two dimensional array
print(two_array.shape)

In [ ]:
print(row_vector)

In [ ]:
print(row_vector.shape)

In [ ]:
threed_array = np.array([[[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]],
                        [[13, 14, 15, 16], [17, 18, 19, 20], [21, 22, 23, 24]]]])
print(threed_array)

In [ ]:
print(threed_array.shape)

In [ ]:
import numpy as np
zero_array = np.zeros((3,3))
print(zero_array)

In [ ]:
zero_array = np.zeros((3,3),dtype=int)
print(zero_array)

In [ ]:
ones_array = np.ones((3,3))
print(ones_array)

In [ ]:
ones_array = np.ones((3,3),dtype=int)
print(ones_array)

In [ ]:
mat1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(mat1)

In [ ]:
mat2 = np.random.randint(1, 10, (3,3))
print(mat2)

In [ ]:
mat3 = np.random.rand(3,3)
print(mat3)

In [ ]:
import numpy as np
my_array = np.array([1,2,3])
print(my_array)
[123]
power_array = np.power(my_array,2)
print(power_array)

In [ ]:
import numpy as np
log_array = np.log(my_array)
print(log_array)

In [ ]:
import numpy as np
log2_array= np.log2(my_array)
print(log2_array)

In [ ]:
import numpy as np
log10_array = np.log10(my_array)
print(log10_array)

In [ ]:
#  matploitlib => it is python libary
              # =>  it is used for data visualization
              # how to import
              # import matplotlib pyplot as plt

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
xpoint = np.array([1,3])
ypoint = np.array([2,4])
plt.plot(xpoint,ypoint)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
xpoint = np.array([6,7,8,9,10])
package = np.array([4,5,6,7,9])
plt.plot(xpoint , package, "*:g", ms =15, mec="red", mfc= "orange" ,linewidth =5)
plt.xlabel("CGPA")
plt.ylabel("package in LPA")
plt.title("shoolini university student data")
plt.grid()
plt.show()

In [ ]:
#bar plot -- it work on numericaL  as well as categorical data
import matplotlib.pyplot as plt
import numpy as np
fruit = np.array (["Apple", "banana", "orange", "watermalon"])
quantity = np.array ([ 100, 120, 80, 70])
color = np.array (["red", "yellow", "orange", "green"])
plt.bar(fruit, quantity , color=color)
plt.xlabel("fruit")
plt.ylabel("quantity")
plt.title("fruit vs fruit quantity")
plt.show()

In [ ]:


fruit = np.array (["Apple", "banana", "orange", "watermalon"])
quantity = np.array ([ 100, 120, 80, 70])
color = np.array (["red", "yellow", "orange", "green"])
plt.barh(fruit, quantity , color=color)
plt.xlabel("fruit")
plt.ylabel("quantity")
plt.title("fruit vs fruit quantity")
plt.show()

In [ ]:
#pie plot
percentage_of_fruit = np.array([20, 25, 30, 25])
fruit = np.array (["Apple", "banana", "orange", "watermalon"])
myexplode = np.array([0.2 ,0,0,0])
plt.pie(percentage_of_fruit, labels=fruit, explode = myexplode)
plt.legend(title = "fruit" , loc ="best")
plt.show()

In [ ]:
age_of_car = np.array ([4, 5, 6, 7,8, 9, 10, 12 ,14])
speed_of_car = np.array([150 ,140, 120, 110, 100, 90, 80, 70, 60,])
plt.scatter(age_of_car, speed_of_car)
plt.xlabel("age of car")
plt.ylabel("speed of car")
plt.title("age of car vs speed of car")
plt.show()

In [ ]:
#histogram-- it showing the frequency distribution of the data
x =np.random.randint(40,100, (1,200))
x= x.flatten()
print(x)

In [ ]:
plt.hist(x, bins = 20)
plt.xlabel("marks")
plt.ylabel("frequency")
plt.title("marks vs frequency")
plt.show()

In [ ]:
# pandas -> it is python library
      #  -> it is used foe a data manipulation.
      #  -> data structure of pandas
      #  -> series
      #  -> data frame
      #  -> panel

In [ ]:
import pandas as pd

In [ ]:
my_series = pd.Series(["apple", "banana" , "orange", "watermolen"], name ="fruit")
my_series

In [ ]:
df= pd.DataFrame([["apple",100],["banana",120],["orange",180],["watermolen",50]], columns=["fruit","quantity"])
df

In [ ]:
 df = pd.read_csv("/content/drive/MyDrive/imdb_data.csv")
 df

In [ ]:
# how many numbera=s of row and column
df.shape

In [ ]:
#fetch the data from top
df.head(2)

In [ ]:
#fetch the data randomly from the dataframe
df.sample(10)

In [ ]:
# find the information of the data
df.info()

In [ ]:
# how does the data look like mathamtically
df.describe()

In [ ]:
# find the number of columns
df.columns

In [ ]:
# indexing and slicing
df["title"]

In [ ]:
df[["title","budget","revenue"]]

In [ ]:
df[0:4]

In [ ]:
df.iloc[0:4,0:3]

In [ ]:
df.loc[0:4,["title","budget","revenue"]]

In [ ]:
df.loc[0:4,["title","budget","revenue"]]

In [ ]:
#find the duplicate value
df.duplicated().sum()

In [ ]:
#find the unique value in particular column
df["orginal_language"].unique()

In [ ]:
#find the number of unique value
df["orginal_language"].unique()

In [ ]:
hindi_movie = [df["original_language"] =="hi"]
hindi_movie

In [ ]:
#how to write csv file
hindi_movie.to_csv("hindi_movie.csv")

In [ ]:
from transformers import pipeline

summarizer = pipeline("summarization", model="facebook/bart-large-cnn")

text="""The global shift toward renewable energy is accelerating,
 driven by concerns over climate change and energy security.
  Solar and wind power installations have reached record levels worldwide."""



summary = summarizer(text, max_length=30, min_length=10, do_sample=False)
print(summary[0])

Device set to use cpu

{'summary_text': 'The global shift toward renewable energy is accelerating, driven by concerns over climate change and energy security. Solar and wind power installations have reached record'}